.carousel-inner {
    height:500px;

    p {
        color: white;
    }

    h3 {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.testimonial-img {
    width: 150px;
    height: 150px;
}
@media (max-width: 768px) {

    .carousel-inner {
        height:620px;

    }

}
