.carousel-inner {
    height:430px;

    p {
        color: white;
    }

    h3 {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.testimonial-img {
    width: 150px;
    height: 150px;
}