.divider {
    border-bottom: 1px solid grey;

    .container {
        border-bottom: 5px solid $brand-color;
        margin-bottom: -3px;
    }
}
.testimonial__divider {
    border-bottom: 1px solid black;

    .container {
        border-bottom: 5px solid black;
        margin-bottom: -6px;
    }
}

//

.subheader {
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: initial;
    height: 250px;
    filter: grayscale(100%);
}
.bg-brand {
    background-color: $brand-color;
}
