<!doctype html>

<html lang="en-ca">

<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-576QLRT');</script>
  <!-- End Google Tag Manager -->
  <!-- Required meta tags -->

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css") }}

  <link rel="stylesheet" href="{{ ($style).RelPermalink }}"/>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <title>{{.Title}} | {{ $.Site.Title }}</title>

  {{- partial "schema.html" . }}

  {{ if .Params.hidden }}
  
  <meta name="robots" content="noindex" />

  {{ else }}

  <meta name="robots" content="index, follow">

  {{ end }}

</head>

<body>

  <div id="content">

    {{- partial "nav.html" . }}

    {{- block "main" . }}{{- end }}

  </div>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-576QLRT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

<footer class="footer">{{- partial "footer.html" . }}</footer>

</html>