{{ define "main" }}

{{- partial "subheader.html" . }}

<section class="container py-5 my-5">

    <h2 class="home__process--heading text-uppercase display-4 font-weight-bold" data-bg-text="Frequently Asked Questions" data-aos="fade-right">Frequently Asked Questions</h2>

<p class="pt-5">{{.Params.faqintro | safeHTML }}</p>

<section class="container px-0 accordion-section clearfix mt-1 mb-5" aria-label="Question Accordions">
    <h2 class="pb-5 uppercase">{{ i18n "faq" }}</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3 shadow bg-white text-dark" role="tab" id="heading0">
          <h5 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
              {{.Params.question1 | safeHTML}}
            </a>
          </h5>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body px-3 mb-4">
            <p>{{.Params.answer1 | safeHTML}}</p>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3 shadow bg-white text-dark" role="tab" id="heading1">
          <h5 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse2">
        {{.Params.question2 | safeHTML}}
            </a>
          </h5>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body px-3 pb-4">
            <p>{{.Params.answer2 | safeHTML}}</p>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3 shadow bg-white text-dark" role="tab" id="heading2">
          <h5 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
        {{.Params.question3 | safeHTML}}
            </a>
          </h5>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body px-3 pb-4">
            <p>{{.Params.answer3 | safeHTML}}</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3 shadow bg-white text-dark" role="tab" id="heading3">
            <h5 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
          {{.Params.question4 | safeHTML}}
              </a>
            </h5>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body px-3 pb-4">
              <p>{{.Params.answer4 | safeHTML}}</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3 shadow bg-white text-dark" role="tab" id="heading4">
            <h5 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
          {{.Params.question5 | safeHTML}}
              </a>
            </h5>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body px-3 pb-4">
              <p>{{.Params.answer5 | safeHTML}}</p>
            </div>
          </div>
        </div>
    </div>
</section>

{{ end }}