{{ define "main" }}
<header class="header container-fluid">
    <div class="overlay min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="header__box text-center text-light">
        <img src="img/cross.png" class="logo" alt="A Red ChristianCross" data-aos="zoom-in" data-aos-duration="500">
        <h1 class="display-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">{{ .Params.heading }}</h1>
        <div class="countdown" data-aos="fade-up" data-aos-duration="800" data-aos-delay="2000">
            <h3 id="launch" class="p-3 my-3 w-50 m-auto font-weight-normal"></h3>
        </div>
        <div class="d-flex flex-row justify-content-center header_cta">
                <button class="btn btn-lg btn-primary mr-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="2500" data-toggle="modal" data-target="#exampleModalCenter">Stay Tuned</button>
                <a href="{{ .Site.BaseURL }}donate" class="btn btn-lg btn-primary ml-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="2500" data-toggle="modal">Donate</a>
            </div>
        </div>
    </div>
</div>
</header>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Stay In Touch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
<div id="mc_embed_signup">
    <form action="https://saintlazare.us10.list-manage.com/subscribe/post?u=1dbdfcb216021105100c9f8f8&amp;id=356368a105" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    <div class="mc-field-group">
        <label class="form-label" for="mce-FNAME">First Name </label>
        <input class="form-control" type="text" value="" name="FNAME" class="" id="mce-FNAME">
    </div>
    <div class="mc-field-group">
        <label class="form-label" for="mce-LNAME">Last Name </label>
        <input class="form-control" type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    <div class="mc-field-group">
        <label class="form-label" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
        <input class="form-control" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <div id="emailHelp" class="form-text mb-3">We'll never share your email with anyone else.</div>
    </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1dbdfcb216021105100c9f8f8_356368a105" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-lg btn-primary w-100"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>

<main class="main container">

    <h2 class="display-3 text-center py-md-3 py-5 my-lg-5">The Vision</h2>

    <div class="row">
        
        <div class="col-lg-8 col-md-12">

            <h2 class="heading2">{{ .Params.vision_heading1 | safeHTML }}</h2>
            <p class="pt-2 main_text">{{ .Params.vision_text1 | safeHTML }}</p>

            <h2 class="heading2">{{ .Params.vision_heading2 | safeHTML }}</h2>
            <p class="pt-2 main_text">{{ .Params.vision_text2 | safeHTML }}</p>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="10">
                <img src="img/cross.png" class="vision_icon" alt="A Cross Icon">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option1 }}</h5>
            </div>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="350">
                <img src="img/cross.png" class="vision_icon" alt="A Cross Icon">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option2 }}</h5>
            </div>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="700">
                <img src="img/cross.png" class="vision_icon" alt="A Cross Icon">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option3 }}</h5>
            </div>

            <div class="vision_box d-flex flex-row pt-3" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1000">
                <img src="img/cross.png" class="vision_icon" alt="A Cross Icon">
                <h5 class="pl-3 font-weight-normal">{{ .Params.vision_option4 }}</h5>
            </div>
            <div class="main_cta">
            <button class="btn btn-lg btn-primary my-5" data-toggle="modal" data-target="#exampleModalCenter">Subscribe To Our Newsletter</button>
            </div>
        </div>

        <div class="col-lg-4 col-md-12" data-aos="fade-in" data-aos-duration="800">
            <img src="img/vision.jpg" alt="Opened Bible showing the Gospel of Matthew" class="vision_img shadow w-100">
        </div>

    </div>
</main>

<section class="whoweare container">

    <h2 class="display-3 text-center py-md-3 py-5 my-lg-5">Leadership</h2>

    <div class="row g-4">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader1.jpg" class="card-img-top" alt="Photo of Jonathan Camire, the Local Pastor">
            <div class="card-body">
              <h4 class="card-title font-weight-normal">Jonathan Camire</h4>
              <h5 class="card-subtitle font-weight-normal">Church Planter & Local Pastor</h5>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader2.jpg" class="card-img-top" alt="Photo of Daniel Endresen, the Pastor at Saint-Timothy's Anglican Bible Church">
            <div class="card-body">
                <h4 class="card-title font-weight-normal">Daniel Endresen</h4>
                <h5 class="card-subtitle font-weight-normal">St-Timothy's Pastor & Rector</h5>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader3.jpg" class="card-img-top" alt="Photo of Renaud Gagne, Lay Leader">
            <div class="card-body">
                <h4 class="card-title font-weight-normal">Renaud Gagne</h4>
                <h5 class="card-subtitle font-weight-normal">Lay Leader & Deputy Warden</h5>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="img/leader4.jpg" class="card-img-top" alt="Photo of Anna-Marie Heron, the worship leader for the congregation">
            <div class="card-body">
                <h4 class="card-title font-weight-normal">Anna-Marie Heron</h4>
                <h5 class="card-subtitle font-weight-normal">Worship Leader</h5>
              </div>
          </div>
        </div>
      </div>

</section>

<section class="values container">
    <h2 class="about__heading display-3 text-center py-md-3 pt-5 pb-1 my-lg-3">
        Our Values
    </h2>
    <div class="values_details pb-5">
    <p class="">{{ .Params.values }}</p>
    <h2>KEY FEATURES OF OUR ANGLICAN IDENTITY</h2>
    <p class="">{{ .Content }}</p>
    </div>
<div class="row gy-5" data-aos="fade-up" data-aos-duration="800">
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about1.jpg" class="card-img-top card-image" alt="A picture of an opened bible">
        <h2 class="card-header">SCRIPTURES</h2>
        <div class="card-body">
            <p class="card-text">We value the supreme authority of scripture.</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about2.jpg" class="card-img-top card-image" alt="Picture of a bridge leading to Vaudreuil-Dorion & Saint-Lazare">
        <h2 class="card-header">PARISH-CENTRED MINISTRY</h2>
        <div class="card-body">
            <p class="card-text">We value equipping parishes to be the focus for ministry and evangelism. </p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about3.jpg" class="card-img-top card-image" alt="People holding each other in their arms">
        <h2 class="card-header">DISCIPLESHIP & VIRTUES</h2>
        <div class="card-body">
            <p class="card-text">We value discipleship and the efforts of living in accordance with the pattern of Christ's life.</p>
        </div>
    </div>
</div>
</div>

<div class="row gy-3 py-4" data-aos="fade-up" data-aos-duration="800">

    <div class="col-lg-4 col-md-12">
        <div class="card">
            <img src="img/about4.jpg" class="card-img-top" alt="Candles light together in a bunch representing Christ's life.">
            <h2 class="card-header">UNITY</h2>
            <div class="card-body">
                <p class="card-text">We value walking together with love and respect even when differing on non-essential matters.</p>
            </div>
        </div>
    </div>

<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about5.jpg" class="card-img-top" alt="Table with a wine cup, a bible opened and bread representing sacramental communion in the Lord's supper.">
        <h2 class="card-header">ANGLICAN IDENTITY</h2>
        <div class="card-body">
            <p class="card-text">We value nurturing liturgical and sacramental worship in the Anglican way as expressed through the catholic, evangelical, and charismatic streams. </p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="card">
        <img src="img/about6.jpg" class="card-img-top" alt="Picture of Orthodox Anglican Bishops in a Church.">
        <h2 class="card-header">GOVERNANCE</h2>
        <div class="card-body">
            <p class="card-text">We value being led by shepherd bishops who serve our parishes, province, and the worldwide communion.</p>
        </div>
    </div>
</div>
</div>
</section>
{{ end }}