{{ define "main" }}

{{- partial "subheader.html" . }}


<section class="container py-5 my-5">

    <h3 class="home__process--heading text-uppercase display-4 font-weight-bold mb-5" data-bg-text="Store" >Store</h3>

    <div class="row g-5 pb-5">
        <div class="col-md-4"><img src="{{ .Site.BaseURL}}img/store1.jpg" alt="" class="img-fluid shadow"></div>
        <div class="col-md-4"><img src="{{ .Site.BaseURL}}img/store2.jpg" alt="" class="img-fluid shadow"></div>
        <div class="col-md-4"><img src="{{ .Site.BaseURL}}img/store3.jpg" alt="" class="img-fluid shadow"></div>
    </div>
    <h3 class="home__process--heading text-uppercase display-4 font-weight-bold mb-5" data-bg-text="Purolator">Purolator</h3>
    
    <h3 class="pt-2 text-dark text-uppercase"><strong>Tofino & Ucluelet Purolator</strong></h3>
    <h4>Your West Coast Authorized Purolator Shipping and Delivery Agent.</h4>
    <img src="{{ .Site.BaseURL}}img/purolator.jpg" alt="" width="250px" class="pb-3">
    <p class="pb-5 mb-5">
Authorized Purolator Store Hours<br>
Monday to Fri: 8:30am to 4:30pm<br>
<br>
Store Direct Phone Number<br>
<a href="tel:250-726-0406">250-726-0406</a><br>
<br>Address<br>
1972 Peninsula Rd, Ucluelet,BC<br>
<br>
Open for all your Shipping & Delivery needs.<br>
    </p>

    <h3 class="home__process--heading text-uppercase display-4 font-weight-bold mb-5" data-bg-text="{{ .Params.heading2 }}" >{{ .Params.heading2 }}</h3>

    <div class="row g-5">

        <div class="col-lg-6 col-md-12 order-lg-1 order-md-2 order-sm-2 order-2">
            <h3 class="pt-2 text-dark text-uppercase"><strong>{{ .Params.heading3 }}</strong></h3>

            <p class="text-primary">{{ .Params.description | safeHTML }}</p>

            <a href="{{ .Site.BaseURL}}delivery" class="btn btn-lg btn-primary my-3">Start Your Delivery Now</a>
              
        </div>

        <div class="col-lg-6 col-md-12 order-lg-2 order-md-1 order-sm-1 order-1">

            <img src="{{ .Site.BaseURL}}img/services.jpg" alt="" class="img-fluid shadow">

        </div>

    </div>

</section>


{{ end }}