<footer class="footer text-white bg-dark">
<div class="container">
  <div class="">
      <div>
      <div>
            <p>Handcrafted with ❤️ by <a href="https://www.supersonicsites.com" class="origin">SuperSonic Sites</a></p>
      </div>
      <div>
          <p>Copyright © {{ dateFormat "2006" now }}</p>
      </div>                
      </div>
      <div class="">
          <div><a class="" href="/privacy-policy">
              <u>Privacy Policy</u></a>
          </div>
      </div>
  </div>
</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>