<nav class="navbar bg-white navbar-expand-md navbar-light shadow">

  <div class="container py-1">

    <a class="navbar-brand" href="{{ .Site.BaseURL }}">Westcoast Connect</a>

    <div class="desktopmenu d-flex align-items-end text-uppercase">

      {{ range .Site.Menus.main -}}

      <a class="nav-item nav-link uppercase" href="{{ .URL }}">{{ .Name }}</a>

      {{ end }}
      <a class="uppercase btn btn-lg btn-primary ml-3" href="{{ .Site.BaseURL }}delivery">Delivery Form</a>

    </div>
    
<!-- Mobile Menu -->

<div class="menu-wrap">

  <input type="checkbox" class="toggler">


  
  <div class="hamburger"><div></div></div>
  
  <div class="menu">
  
    <div>
  
      <div>
  
        <ul>
  
          {{ range .Site.Menus.main -}}
  
          <li><a class="nav-item nav-link uppercase" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
  
          {{ end }}
  
        </ul>
  
      </div>
  
    </div>
  
  </div>

</div>
</nav>